---
import "photoswipe/style.css";
import { Image } from "astro:assets";
import Catedral from "../assets/catedral-de-marmol.jpg";
import Tortel from "../assets/caleta-tortel.jpg";
import Cascada from "../assets/cascada-ventisquero-colgante.jpg";
import Cerro from "../assets/cerro-castillo.jpg";
import Patagonia from "../assets/parque-nacional-patagonia.jpg";
import Queulat from "../assets/parque-nacional-queulat.jpg";
---

<section id="gallery-section" class="gallery-section pb-5 border-top">
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-12 text-center mt-5">
        <h2
          class="pt-3 pb-5"
          style="font-size: 3rem; text-shadow: 1px 2px 4px rgba(0,0,0,0.8);"
        >
          Galería de <span class="text-danger">imperdibles</span> en Aysén
        </h2>
      </div>
    </div>

    <div class="row no-gutters pswp-gallery" id="my-gallery">
      <div class="col-lg-4 col-sm-6 gallery_item p-1">
        <a
          href={Catedral.src}
          data-pswp-width="900"
          data-pswp-height="750"
          target="_blank"
        >
          <Image
            class="d-block w-100 h-100 rounded-1 border border-secondary"
            src={Catedral}
            alt="Catedral de Marmol"
          />
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 gallery_item p-1">
        <a
          href={Tortel.src}
          data-pswp-width="1200"
          data-pswp-height="750"
          target="_blank"
        >
          <Image
            class="d-block w-100 h-100 rounded-1 border border-secondary"
            src={Tortel}
            alt="Caleta Tortel"
          />
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 gallery_item p-1">
        <a
          href={Cascada.src}
          data-pswp-width="1200"
          data-pswp-height="750"
          target="_blank"
        >
          <Image
            class="d-block w-100 h-100 rounded-1 border border-secondary"
            src={Cascada}
            alt="Cascada Ventisquero Colgante"
          />
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 gallery_item p-1">
        <a
          href={Cerro.src}
          data-pswp-width="1200"
          data-pswp-height="750"
          target="_blank"
        >
          <Image
            class="d-block w-100 h-100 rounded-1 border border-secondary"
            src={Cerro}
            alt="Cerro Castillo"
          />
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 gallery_item p-1">
        <a
          href={Patagonia.src}
          data-pswp-width="1200"
          data-pswp-height="750"
          target="_blank"
        >
          <Image
            class="d-block w-100 h-100 rounded-1 border border-secondary"
            src={Patagonia}
            alt="Parque nacional Patagonia"
          />
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 gallery_item p-1">
        <a
          href={Queulat.src}
          data-pswp-width="1200"
          data-pswp-height="750"
          target="_blank"
        >
          <Image
            class="d-block w-100 h-100 rounded-1 border border-secondary"
            src={Queulat}
            alt="Parque nacional Queulat"
          />
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .gallery_item:hover {
    overflow: hidden;
    transform: scale(1.1) rotate(3deg) translateY(-10px);
    transition: all 0.2s ease-in-out;
  }
</style>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#my-gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
